#container1 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    text-align: left;
}

#product {
    margin-top: 50px;
    padding: 10px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
}

#list {
    margin-top: 30px;
    font-weight: bold;
}

#listItem {
    margin-top: 30px;
}

#addProduct {
    padding: 10px;
    margin-top: 10px;
    background-color: var(--second-modal-color);
    color: antiquewhite;
    border-radius: 5px;
}
